ul.products {
	@apply flex flex-row min-w-full overflow-scroll p-2 gap-8;
}

ul.products li.product {
	@apply shadow-2xl border border-bell-gray bg-bell-gray-3 list-none text-xl flex flex-col gap-8 text-bell-gray-2 rounded-md transform transition duration-300 justify-center items-center py-2;
	min-width: 80%;
}
ul.products li.product:hover{
	@apply shadow-xl scale-110;
}
ul.products li.product a .sale-flash{
	left: -5%;
	top: -8%;
}
ul.products li.product img {
	display: block;
}
.woocommerce-LoopProduct-link{
	@apply flex flex-col gap-6 items-center;
}
.woocommerce-LoopProduct-link h2{
	@apply text-bell-purple-dark font-bold text-3xl italic;
}
.price{
	@apply text-green-800 italic font-semibold text-2xl;
}
.price del .amount {
    @apply text-red-800 text-lg px-2;
	text-decoration: line-through;
}
ul.products li.product .button {
	display: block;
}
ul.products li .button{
	@apply bg-bell-purple-dark font-bold px-4 py-2 text-bell-gray-3 transition duration-500 rounded-md;
		&:hover{
			@apply bg-bell-gray-1 text-bell-purple-dark;
		}
}
@screen lg{
	ul.products {
		@apply max-w-none flex-wrap;
		scrollbar-width: none;
		overflow: unset;
	}
		ul.products li.product {
		@apply min-w-0;
		width:30%;
		}
		ul.products li.product a .sale-flash{
			@apply absolute;
			left: -5%;
			top: -8%;
		}
}