.block-general__products{
		@apply flex flex-wrap gap-8 justify-center;
}
.content {
	@apply relative overflow-hidden w-full transition duration-500 flex items-center;
        .content-title{
            @apply text-2xl font-bold text-bell-purple-dark px-2;
			&--recent{
				@apply text-lg font-normal text-bell-gray-2;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				overflow: hidden;
			}
        }
        .tags{
            @apply text-xs italic px-4 py-2 text-bell-purple-dark text-opacity-50;
        }
        box-shadow: 1px 1px 25px -8px #360147;
        &:hover{
            @apply shadow-none;
        }
}

.content .content-overlay {
		background: rgba(0,0,0,0.6);
		@apply absolute w-full left-0 top-0 bottom-0 right-0 opacity-100;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
	}

	.content:hover .content-overlay{
		@apply opacity-100;
	}

	.content-image{
		
	}

	.content-details {
		@apply absolute text-center px-4 w-full opacity-100;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	.content:hover .content-details{
		top: 50%;
		left: 50%;
		@apply opacity-100;
	}

.content-text{
    @apply text-bell-gray-3 flex flex-col items-center;
	.excerpt{
        @apply justify-center w-full;
		display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
	}
}
.content-text > a{
    @apply transform transition duration-500 py-4;
    width: 32px;
        &:hover{
            @apply rotate-180;
        }
}



@screen lg{
	.content {
			width: 30%;
	}
	.content-details {
		@apply opacity-0;
	}
	.content .content-overlay {
		background: rgba(0,0,0,0.8);
		@apply opacity-0;
	}
	.fadeIn-bottom{
		top: 80%;
	}
}