.container__card{
    @apply flex flex-row gap-8 py-4 overflow-scroll max-w-full;
    perspective: 1000px;
}

.card__father{
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    @apply relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    @apply bg-cover bg-center;
}


.card__front,
.card__back{
    @apply w-full h-full absolute top-0 left-0 rounded-lg;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card__back{
    @apply bg-bell-white;
    transform: rotateY(180deg);
}

.body__card_front{
    @apply w-full h-full text-center p-8 flex justify-center items-center text-bell-gray-3;
    transform: translateZ(60px);
}
.body__card_front > h1{
    @apply bg-bell-purple-dark p-2 rounded-sm;
}

.bg{
    @apply w-full h-full absolute top-0 left-0 rounded-md bg-opacity-75;
    background: rgba(0,0,0,0.2);
}

.body__card_back{
    @apply p-6 text-center;
    transform: translateZ(60px);
}
.body__card_back > h1{
    @apply text-2xl font-bold text-bell-purple-dark;
}

.body__card_back p{
    @apply text-bell-gray-2 text-base py-2;
}

.body__card_back input{
    @apply cursor-pointer text-bell-gray-1 bg-bell-purple-dark border-none rounded-lg px-6 py-2;
    box-shadow: 1px 1px 30px -5px #360147;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #805ad5;
}
@screen lg{
    .container__card{
        @apply flex flex-wrap gap-8 py-4 justify-center max-w-none;
        scrollbar-width: none;
        overflow: unset;
        perspective: 1000px;
    }
}