.woocommerce-MyAccount-content{
    @apply bg-bell-gray-3 flex flex-col justify-center items-center p-4 overflow-auto gap-4;
        table{
            @apply border-separate text-center;
            border-spacing: 2em;
            thead{
                @apply bg-bell-gray-1;
                    tr{
                        th{
                            @apply p-4 underline;
                        }
                    }
            }
            tbody{
                tr{
                    .woocommerce-orders-table__cell-order-actions{
                        a{
                            @apply text-transparent py-2 bg-no-repeat transition duration-300;
                            background-image: url(https://i.postimg.cc/XYxYWZTQ/search.png);
                        }
                    }
                    .download-file{
                        @apply underline flex items-center gap-2 overflow-auto;
                        &:after{
                            content: url('https://i.postimg.cc/66fZqh4h/button.png');
                        }
                    }
                }
            }

        }
        p{
            
        }
}