.split-section__sidebar{
    @apply shadow-2xl flex flex-col bg-bell-gray-2 bg-opacity-25;
        &__content{
            @apply flex flex-col bg-opacity-50 items-center gap-8 py-4;
        }
}
.split-section-down{
    @apply flex flex-col gap-4 mt-8 items-center;
    svg{
        @apply bg-bell-gray-2 text-xs;
    }
    &__sidebar{
        @apply flex flex-col flex-wrap gap-4 justify-center;
            .widget{
                width: 100%;
            }
    }
}
@screen lg{
    .split-section-down{
        svg{
            @apply text-lg;
            width: 80rem;
        }
        &__sidebar{
            @apply flex-row;
                .widget{
                    width: 30%;
                }
        }
    }
}