.split-section{
    &__normal{
        &__blogs{
        @apply flex gap-4 min-w-full overflow-scroll;
            .item-blog{
                @apply flex flex-col gap-2 border-b-2 border-bell-purple-dark shadow-2xl;
                min-width: 90%;
                &__title{
                    @apply text-base font-bold text-bell-gray-3 bg-bell-purple-dark
                    transition duration-500 p-4;
                        &:hover{
                            @apply text-bell-purple-dark bg-bell-white;
                        }
                }
                &__img{
                    @apply min-w-full;
                }
                &__list{
                    @apply flex flex-wrap text-bell-purple-dark italic;
                        &__item{
                            @apply flex gap-2 p-2;
                            &:hover{
                            @apply text-bell-gray border-b-2 border-bell-purple-dark;
                            }
                            &--date:before{
                                content: url(https://i.postimg.cc/JhYPyPxK/calendar.png);
                            }
                            &--tag:before{
                                content: url(https://i.postimg.cc/2jbhjHh2/tag.png);
                            }
                            &--author:before{
                                content: url(https://i.postimg.cc/T1jQFQxv/user.png);
                            }

                            &--comments:before{
                                content: url(https://i.postimg.cc/Dm327fLk/chat.png);
                            }
                            &--edit:before{
                                content: url(https://i.postimg.cc/nLh3c64C/pencil.png)
                            }
                        }
                }
                &__excerpt{
                    @apply text-justify text-base italic px-2;
                }
                &__excerpt > p{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    line-clamp: 4;
                    overflow: hidden;
                }
            }
        }
    }
}
@screen lg{
    .split-section{
        &__normal{
            &__blogs{
            @apply grid grid-cols-2 min-w-0;
            scrollbar-width: none;
            overflow: unset;
                .item-blog{
                    @apply min-w-0;
                    &__title{
                        @apply text-xl;
                    }
                        &__list{
                            @apply inline-flex gap-2;
                    }
                    &__excerpt{
                        @apply p-2 text-lg;
                    }
                }
            }
        }
    }
}