.carousel{
    @apply relative shadow-2xl bg-white w-full;
}
.carousel-inner{
    @apply relative overflow-hidden w-full;
}
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    @apply absolute opacity-0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.banner{
    @apply block h-full w-full;
        &__info{
            @apply absolute h-full flex flex-col text-bell-white gap-1 items-center justify-center;
                .strong{
                    @apply font-extrabold text-lg bg-black bg-opacity-50 p-2;
                }
                .light{
                    @apply font-medium text-sm text-bell-gray-1 bg-black bg-opacity-50 p-2;
                }
                .group-buttons{
                    @apply flex gap-2 flex-col items-center;
                        &__btns{
                            @apply bg-bell-gray-1 px-12 py-4 text-bell-purple-dark font-bold rounded-sm duration-500;
                        }
                }
        }
}
.banner > img{
    @apply min-h-full min-w-full;
}
.prev{
    @apply w-10 h-10 ml-2 absolute cursor-pointer hidden text-3xl font-bold text-bell-gray-1 rounded-full transition duration-300 bg-bell-purple-dark leading-tight text-center z-10 inset-y-0 left-0 my-auto;
        &:hover{
            @apply bg-bell-gray-1 text-bell-purple-dark;
        }
}
.next{
    @apply w-10 h-10 mr-2 absolute cursor-pointer hidden text-3xl font-bold text-bell-gray-1 rounded-full transition duration-300 bg-bell-purple-dark leading-tight text-center z-10 inset-y-0 right-0 my-auto;
    &:hover{
        @apply bg-bell-gray-1 text-bell-purple-dark;
    }
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    @apply block;
}
.carousel-indicators {
    @apply list-none m-0 p-0 absolute left-0 right-0 text-center z-10;
    bottom: 2%;
}
.carousel-indicators > li{
    @apply inline-block mr-3;
}
.carousel-bullet{
    @apply cursor-pointer block text-5xl text-bell-purple-dark;
        &:hover{
            @apply text-bell-gray-1;
        }
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    @apply text-bell-gray-1;
}
@screen lg{
    .banner{
        &__info{
            @apply items-end p-8 w-full;
            .strong{
                @apply text-5xl;
            }
            .light{
                @apply text-2xl;
            }
            .group-buttons{
                @apply flex-row gap-2;
                    &__btns{
                            &:hover{
                                @apply bg-bell-purple-dark text-bell-gray-1;
                            }
                    }
            }
        }
    }
}