.woocommerce-Reviews{
    @apply flex flex-col gap-4;
}
.commentlist{
	@apply overflow-scroll flex gap-4 max-w-full;
}

.review{
    @apply border border-bell-purple-dark p-2 rounded-md;
    min-width: 90%;
}

.comment_container{
	.comment-text{
		.meta{
			.woocommerce-review__published-date{
				@apply italic ;
			}
		}
		.description{
			@apply flex justify-end gap-2 italic px-2;
		}
		.description::before{
			content:' ~ ';
		}
	}
}
.comment_container > img{
	@apply rounded-full;
}
.comment-form{
    @apply bg-bell-gray-2 text-bell-gray-3 p-2;
	.comment-form-comment{
		@apply flex flex-col border-b-2 border-bell-gray-3 pb-2;
	}
	.comment-form-author{
		@apply flex flex-col gap-2;
	}
	.comment-form-author > input{
		@apply w-1/2 bg-transparent border border-bell-gray-3 text-bell-gray-3 p-2 rounded-sm;
	}
	.comment-form-email{
		@apply flex flex-col gap-2;
	}
	.comment-form-email > input{
		@apply w-1/2 bg-transparent border border-bell-gray-3 text-bell-gray-3 p-2 rounded-sm;
	}
	.comment-form-comment > textarea{
		@apply w-2/3 bg-transparent border p-4;
	}
	.form-submit{
		.submit{
			@apply w-32 my-4 rounded-md cursor-pointer p-4 transition duration-700 text-bell-gray-2;
			&:hover{
				@apply bg-transparent text-bell-gray-3 border border-bell-gray-3 rounded-md;
			}
		}
	}
}
.comment-reply-title{
	@apply text-2xl p-4;
}
@screen lg{
	.commentlist{
		@apply max-w-none grid grid-cols-2;
        scrollbar-width: none;
        overflow: unset;
		.review{
			@apply min-w-0;
            .comment_container{
                @apply  flex gap-2;
            }
            .comment_container > img{
                width:60px;
                height:60px;
            }
		}
	}
}