.wc-tabs-wrapper{
	@apply w-full ;/**padding 4*/
}
.woocommerce-tabs ul.tabs {
	@apply flex gap-1 list-none m-0 p-0 text-left flex-col;
}

.woocommerce-tabs ul.tabs li {
	@apply block relative m-0 text-bell-gray-3 bg-bell-purple-dark px-2 text-lg font-semibold;
	border-radius: 8px 8px 0 0;
}
.woocommerce-tabs ul.tabs li.active{
	@apply bg-bell-gray-3 text-bell-purple-dark border-bell-purple-dark border-t-2 border-r-2 border-l-2;
}
.woocommerce-tabs ul.tabs li a {
	padding: 1em 0;
	@apply block;
}
.woocommerce-Tabs-panel{
	@apply text-bell-purple-dark text-justify text-base p-2 border-bell-purple-dark border-b shadow-2xl;
}

.woocommerce-tabs .panel h2:first-of-type {
	@apply py-4 text-bell-purple-dark text-xl font-bold;
}

.woocommerce-tabs .panel h2:first-of-type > span{
	@apply text-base italic text-bell-gray-2 underline;
}
@screen lg{
	.woocommerce-tabs ul.tabs {
		@apply flex-row;
	}
	.woocommerce-Tabs-panel{
		@apply p-6;
		-webkit-box-shadow: 5px -10px 10px 4px rgba(54,1,71,0.55);
		box-shadow: 5px -10px 10px 4px rgba(54,1,71,0.55);
	}
}