.product{
	@apply flex flex-wrap;
}
.woocommerce-product-gallery{
	@apply w-1/3 flex flex-col gap-8;
}
.sale-flash{
	width: 64px;
	height: 64px;
}
.flex-control-nav{
	@apply flex gap-4;
}

.flex-control-thumbs li img {
	@apply opacity-50;
}

.flex-control-thumbs li img.flex-active {
	@apply opacity-100;
}
.woocommerce-product-gallery__trigger{
    opacity:0
}
.woocommerce-product-gallery__image{
	@apply cursor-pointer;
}