.footer{
    .newsletter{
        @apply bg-bell-gray-2 flex flex-col gap-6 py-4 px-2 items-center;
            &__title{
                @apply text-bell-gray-1;
                    &--strong{
                        @apply font-extrabold text-xl w-2/3 text-center;
                    }
                    &--light{
                        @apply font-bold text-base;
                    }
            }
            &__title > a {
                @apply text-bell-purple-dark duration-200;
                    &:hover{
                        @apply text-bell-gray-1;
                    }
            }
        }
        .newsletter-form{
            .wpcf7{
                @apply flex justify-center;
                .wpcf7-form{
                    @apply flex flex-col gap-4 w-full px-2 text-center;
                }
                .wpcf7-form > p > .your-name::before{
                    @apply absolute;
                    left: 1%;
                    top: 1%;
                    content: url(https://i.postimg.cc/T1jQFQxv/user.png);
                }
                .wpcf7-form > p > .your-email::before{
                    @apply absolute;
                    left: 1%;
                    top: 1%;
                    content: url(https://i.postimg.cc/YSShhFdZ/email.png);
                }
                .wpcf7-form > p > .wpcf7-form-control-wrap > .wpcf7-form-control{
                    @apply p-2 bg-bell-white w-2/3;
                }
                .wpcf7-form > p > .wpcf7-form-control{
                    @apply p-4 bg-bell-purple-dark text-bell-gray-1 font-semibold;
                }
                .wpcf7-form > p{
                    @apply flex flex-col;
                }
            }
        }
}
@screen lg{
    .footer{
        .newsletter{
            @apply items-center;
            &__title{
                    &--strong{
                        @apply font-extrabold text-4xl w-2/3 text-center;
                    }
                    &--light{
                        @apply font-bold text-base;
                    }
            }
        }
        .newsletter-form{
            .wpcf7{
                .wpcf7-form{
                    @apply flex-row w-3/4;
                }
                .wpcf7-form > p > .wpcf7-form-control-wrap > .wpcf7-form-control{
                    @apply py-4 px-10 w-full;
                }
            }
        }
    }
}